* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  nav {
    position: relative;
    height: 80px;
    background: #92e392;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  }

  .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #000;
  }
  
  nav a {
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  .hero {
    background: #ffffff;
  }
  
  .hero-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
  
  .column-left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 2rem;
  }
  
  .column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  
  .column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
  }

  .column-right h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  
  .hero-image {
    width: 100%;
    height: auto;
  }
  
  @media screen and (max-width: 768px) {
    .hero-container {
      grid-template-columns: 1fr;
    }
  }